# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/

# Environment variables
.env

# Database dump files
*.dump

# macOS / Windows metadata
.DS_Store
Thumbs.db

# VSCode settings
.vscode/

schema_query.sql
schema_output.txt